<%- include('../../../../partials/header.ejs') %>

<div class="container">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-8">
      <div class="card mt-2 px-2 shadow-sm">
        <div class="card-body">
          <h4 class="card-title text-secondary text-center mt-1">Add product</h4>
          <form action="" method="post" enctype="multipart/form-data" class="mt-5">
            <div class="mb-3">
              <label for="productname" class="form-label">Product Name</label>
              <input type="text" class="form-control <%= errors.itemname ? 'is-invalid' : '' %>" id="productname" name="itemname" placeholder="shop name max-length 100 chars">
              <span class="text-danger">
                <%= errors.itemname %> 
              </span>
            </div>

            <div class="row">
              <div class="col">
                <div class="mb-3">
                  <label for="price" class="form-label">Price</label>
                  <input type="text" class="form-control <%= errors.price ? 'is-invalid' : '' %>" id="price" name="price">
                  <span class="text-danger">
                    <%= errors.price %> 
                  </span>
                </div>
              </div>
              <div class="col">
                <div class="mb-3">
                  <label for="quantity" class="form-label">Quantity</label>
                  <input type="number" class="form-control <%= errors.quantity ? 'is-invalid' : '' %>" id="quantity" name="quantity">
                  <span class="text-danger">
                    <%= errors.quantity %> 
                  </span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="mb-3">
                  <label for="expireDate" class="form-label">Expire Date</label>
                  <input type="date" class="form-control <%= errors.expireDate ? 'is-invalid' : '' %>" id="expireDate" name="expireDate">
                  <span class="text-danger">
                    <%= errors.expireDate %> 
                  </span>
                </div>
              </div>
              <div class="col">
                <div class="mb-3">
                  <label for="manufactureCompany" class="form-label">ManufactureCompany</label>
                  <input type="text" class="form-control <%= errors.manufactureCompany ? 'is-invalid' : '' %>" id="manufactureCompany" name="manufactureCompany">
                  <span class="text-danger">
                    <%= errors.manufactureCompany %> 
                  </span>
                </div>
              </div>
            </div>

            <div class="mb-3">
              <label for="shop_imgs" class="form-label">Attach shop pictures (must be select one)</label>
              <input type="file" class="form-control <%= errors.shopimgs? 'is-invalid' : '' %>" id="shop_imgs" name="shopimgs" multiple>
              <% if (errors.shopimgs) { %>
                <p class="text-danger mt-2"><%= errors.shopimgs %></p>
              <% } else{%>
                <p class="text-warning mt-2" id="warning">Item images must be less then 50kb & resulation width 150px * height 100px</p>
              <% } %> 
            </div>

            <input class="btn btn-primary" type="submit" value="Add Product">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>