<%- include('../../partials/header.ejs') %>

<div class="container">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-8">
      <div class="card mt-2 px-2 shadow-sm">
        <div class="card-body">
          <h4 class="card-title text-secondary text-center mt-1">Create a shop</h4>
          <form action="" method="post" enctype="multipart/form-data" class="mt-5">
            <div class="mb-3">
              <label for="shopname" class="form-label">Shop Name</label>
              <input type="text" class="form-control <%= errors.shopname ? 'is-invalid' : '' %>" id="shopname" name="shopname" placeholder="shop name max-length 100 chars">
              <span class="text-danger">
                <%= errors.shopname %> 
              </span>
            </div>

            <div class="mb-3">
              <p>Shop Description</p>
              <div class="form-floating">
                <textarea class="form-control" name="description" id="description" style="height: 160px;"></textarea>
                <label for="description">Description min-length 100 & max-length 500</label>
              </div>
              <span class="text-danger">
                <%= errors.description %> 
              </span>
            </div>

            <div class="row">
              <h5>Shop Address & Contact</h5>
              <div class="col">
                <div class="mb-3">
                  <label for="street" class="form-label">Street</label>
                  <input type="text" class="form-control <%= errors.street ? 'is-invalid' : '' %>" id="street" name="street">
                  <span class="text-danger">
                    <%= errors.street %> 
                  </span>
                </div>
              </div>
              <div class="col">
                <div class="mb-3">
                  <label for="city" class="form-label">City</label>
                  <input type="text" class="form-control <%= errors.city ? 'is-invalid' : '' %>" id="city" name="city">
                  <span class="text-danger">
                    <%= errors.city %> 
                  </span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="mb-3">
                  <label for="district" class="form-label">District</label>
                  <input type="text" class="form-control <%= errors.district ? 'is-invalid' : '' %>" id="district" name="district">
                  <span class="text-danger">
                    <%= errors.district %> 
                  </span>
                </div>
              </div>
              <div class="col">
                <div class="mb-3">
                  <label for="country" class="form-label">Country</label>
                  <input type="text" class="form-control <%= errors.country ? 'is-invalid' : '' %>" id="country" name="country">
                  <span class="text-danger">
                    <%= errors.country %> 
                  </span>
                </div>
              </div>
            </div>
            
            <div class="mb-3">
              <label for="contact_no" class="form-label">Contact No</label>
              <input class="form-control <%= errors.contact_no ? 'is-invalid' : '' %>" type="tel" id="contact_no" name="contact_no">
              <span class="text-danger">
                <%= errors.contact_no %> 
              </span>
            </div>

            <div class="mb-3">
              <label for="shop_imgs" class="form-label">Attach shop pictures (must be select one)</label>
              <input type="file" class="form-control <%= errors.shopimgs? 'is-invalid' : '' %>" id="shop_imgs" name="shopimgs" multiple>
              <% if (errors.shopimgs) { %>
                <p class="text-danger mt-2"><%= errors.shopimgs %></p>
              <% } else{%>
                <p class="text-warning mt-2" id="warning">shop images must be less then 500kb & resulation width 400px * height 250px</p>
              <% } %> 
            </div>

            <input class="btn btn-primary" type="submit" value="Create Shop">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>